/* CONTENT MAIN */


/* START responsive design content main */

@media only screen and (max-width: 730px) {
    body {

        > main {

            position: relative;
            height: auto;
            width: 90%;
            margin: 0% 5% 0% 5%;
            padding: 0px 0px 40px 0px;
            top: 140px;
            
            .section-container{
                margin-bottom: 40px;
                margin-top: 40px;
                height: 70vh;
                background: white;
                border-radius: 2rem;
                box-shadow: 0px 0px 17px 11px rgba(0,0,0,0.1);
            }

            .section-container:last-of-type{
                margin-bottom: 0px;
            }
        }
    }
}

/* END - responsive design content main */

@media only screen and (min-width: 730px) {
    main {
        position: relative;
        margin-left: calc(321px + 10%);
        width: calc(100% - 30%);
    }

    section {
        margin: 0;
        height: auto;

        .section-container{
            margin: 40px;
            background: white;
            border-radius: 2rem;
            box-shadow: 0px 0px 17px 11px rgba(0,0,0,0.1);
            padding: 20px;
            height: 70vh;
        }
    }

    section:last-of-type{
        margin: 0;
    }

    #resume > .section-container{
        height: 50vh ;   
    } 
}

