#contact {
    position: relative;
    font-size: 12pt;
    width: 100%;
  
    main {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  
      button {
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        margin: 1em auto auto;
        height: 2.75rem;
        letter-spacing: .08rem;
        padding: 0 2rem;
  
        color: #fff;
        background: #4C7F9F;
  
        transform: translate3d(0, 0, 0);
        transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
          box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  
        &[disabled] {
          cursor: default;
          color: rgba(0, 0, 0, .26);
          background-color: rgba(0, 0, 0, .12);
        }
      }
  
      form {
        display: flex;
        position: relative;
        width: 60%;
        flex-direction: column;
        padding: 15px 10px 15px 10px;
        background: rgb(239, 239, 239);;
        border-radius: 15px;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
  
        .form-field {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          margin-bottom: 15px;
  
          .text-field-wrapper {
  
            padding: 24px 16px 8px 16px;
  
            .overlay {
              display: block;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              position: absolute;
              opacity: 0;
            }
  
            label {
              position: absolute;
              color: rgba(0, 0, 0, .42);
              left: 16px;
              top: 20px;
              pointer-events: none;
              text-transform: capitalize;
              transition: transform 150ms ease-out, font-size 150ms ease-out;
            }
  
            .form-input {
              position: relative;
              width: 100%;
              border: none;
              outline: none;
              padding: 5px 0;
              background-color: transparent;
              font-size: 0.85em;
              font-family: inherit;
            }
  
            textarea {
              max-width: 100%;
              min-width: 100%;
              min-height: 100px;
            }
          }
  
          .underline-input {
            background-color: rgba(0, 0, 0, 0.42);
            display: block;
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 100%;
          }
        }
      }
    }

    /* ===== start - without status ======== */
    .underline-status {
        display: block;
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
    /* ===== end - without status ======== */

    /* ======= start  - status active ======== */

    .underline-status-active {
        background: #4C7F9F;
        transform: scaleX(1) !important;
    }

    .underline-status-active {
        background: #4C7F9F;
        transform: scaleX(1) !important;
    }

    .label-status-active {
        font-weight: bold;
        color: #4C7F9F !important;
        transform: translateY(-10px);
        font-size: 0.75em;
    }

    /* ======= end  - status active ======== */


    /* ======= start  - status error ======== */

    .underline-status-invalid {
        background: #f44336;
    }

    .label-status-invalid {
        color: #f44336 !important;
    }

    .error-message {
        position: absolute;
        opacity: 0;
        font-size: 0;
        left: 16px;
        bottom: -20px;
        font-size: 0.75em;
        color: #f44336;
    }

    .error-message.show {
        opacity: 1;
        transition: 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
    }
    /* ======= start  - status error ======== */
}

@mixin mobile-form-contact {

  #contact {
    main {
      form {
        padding: 4vh 10px 15px 10px;
      }
    }
  }
}

@mixin medium-form-contact {

  #contact {
    main {
      form {
        .form-field {
          .text-field-wrapper {
            textarea {
              min-height: 12vh;
            }
          }
        }
      }
    }
  }
}

// Styles for small screens (mobile)
@media only screen and (max-width: 767px) {
    @include mobile-form-contact;
}

// Styles for tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

// Styles for medium-sized screens
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  @include medium-form-contact;
}

// Styles for large screens (min-width: 1367px) 
@media only screen and (min-width: 1367px) {
}
  


