@import '@layout/styles/main.scss';
@import '@layout/MenuBar/MenuBar.scss';


html {
    font-family: 'Lora', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: rgb(241 241 241);
}



