@import '@layout/styles/main.scss';

/* fonts */
@import '@layout/styles/fonts/PlayfairDisplay.scss';
@import '@layout/styles/fonts/Ranade.scss';
@import '@layout/styles/fonts/Lora.scss';
@import '@layout/styles/fonts/SourceSansPro.scss';
@import '@layout/styles/fonts/Inter.scss';

html {
    font-family: 'Lora', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: rgb(241 241 241);
}



