@import '@layout/MenuBar/styles/full-menu.scss';
@import '@layout/MenuBar/styles/responsive-menu.scss';
@import '@layout/MenuBar/styles/button-hamburger.scss';

.active {
    color: rgb(11, 97, 211) !important;
    font-weight: 600 !important;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
