<aside class="sidebar">
    <div class="sidebar-responsive">
      <div class="center">
        <div class="container-avatar">
        </div>
      </div>
    </div>
    <div class="menu">
      <nav>
        <ul class="navigation">
          <li>
            <a name="about">About</a>
            <a name="portfolio">Portfolio</a>
            <a name="resume">Resume</a>
            <a name="contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
</aside>

<div class="menu-sticky">
    <div class="btn-hamburger">
      <div class="linea-1"></div>
      <div class="linea-2"></div>
      <div class="linea-3"></div>
    </div>
</div>