<aside class="sidebar">
  <div class="wrapper-avatar">
    <div class="container-avatar">
      <div class="img-avatar"></div>
    </div>
    <div class="wrapper-trademark">
      <div class="container-trademark">
        <span class="text">marjuz</span>
      </div>
    </div>
  </div>
  <nav class="menu">
    <ul class="navigation">
      <li class="option"><a name="home">Inicio</a></li>
      <li class="option"><a name="about">Sobre mí</a></li>
      <li class="option"><a name="skills">Habilidades</a></li>
      <li class="option"><a name="portfolio">Portafolio</a></li>
      <li class="option"><a name="resume">Formación</a></li>
      <li class="option"><a name="contact">Contacto </a></li>
    </ul>
  </nav>
  <footer class="footer-sidebar">
    </div>
    <ul class="social-media-list">
      <li class="github social-media-item">
        <a class="contact-icon" href="https://github.com/marjuzdev" target="_blank">
          <svg height="24" width="24" viewBox="0 0 432 416">
            <use xlink:href="svg/github.svg#github" />
          </svg>
          <div class="overlay"></div>
        </a>
      </li>
      <li class="linkedin social-media-item">
        <a class="contact-icon" href="https://www.linkedin.com/in/marioajuez" target="_blank">
          <svg width="24" height="24" viewBox="0 0 20 20">
            <use xlink:href="svg/linkedin.svg#linkedin" />
          </svg>
          <div class="overlay"></div>
        </a>
      </li>

      <li class="gmail social-media-item">
        <a class="contact-icon" href="https://mail.google.com/mail/?view=cm&fs=1&to=marjuzdev@gmail.com"
          target="_blank">
          <svg width="24" height="24" viewBox="0 0 256 193">
            <use xlink:href="svg/gmail.svg#gmail-part1" class="gmail-part1" />
            <use xlink:href="svg/gmail.svg#gmail-part2" class="gmail-part2" />
            <use xlink:href="svg/gmail.svg#gmail-part3" class="gmail-part3" />
            <use xlink:href="svg/gmail.svg#gmail-part4" class="gmail-part4" />
            <use xlink:href="svg/gmail.svg#gmail-part5" class="gmail-part5" />
          </svg>
          <div class="overlay"></div>
        </a>
      </li>
    </ul>
    <div class="separator"></div>
    <div class="copyright">
      <p> &copy; marjuz 2024. Todos los derechos reservados</p>
    </div>
  </footer>
</aside>

<!-- END FULL MENU - SIDE BAR  -->

<!-- MENU HAMBURGER ONLY RESPONSIVE-->
<div class="menu-sticky">
  <div class="btn-hamburger">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
</div>
<!-- END HAMBURGER ONLY RESPONSIVE-->