@import '@layout/MenuBar-2/styles/full-menu.scss';
@import '@layout/MenuBar-2/styles/responsive-menu.scss';
@import '@layout/MenuBar-2/styles/button-hamburger.scss';

/* properties used for design responsive (javascript) */

.active {
    color: #130F49 !important;
    font-weight: 600 !important;
}

.sidebar {
    position: relative;
    font-family: 'Source Sans Pro';
    
    position: fixed;
    overflow-y: auto;
    left: 10vw;
    top: 5vh;
    height: 90vh;
    padding-top: 7vh;
    width: 20vw;
    border-radius: 50px 0;
    background: radial-gradient(rgb(27, 90, 119), #000000);
    text-align: center;
    z-index: 999;

    .wrapper-avatar {
        position: relative;

        .container-avatar {
            position: relative;
            height: 35vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .img-avatar {
                overflow: hidden;
                position: relative;
                overflow: hidden;
                width: 80%;
                height: 35vh;
                border-radius:
                    42% 56% 72% 28% / 42% 42% 56% 48%;
                background: #efefef url("@/assets/avatar.jpg");
                background-size: cover;
                background-position: center;
                animation: morph 3.75s linear infinite;
                border: 1px solid #efefef;
            }
        }

        .wrapper-trademark {

            position: absolute;
            top: 10%;
            right: 10%;

            .container-trademark {
                width: max-content;
                display: flex;
                align-items: center;
                z-index: 2;
                letter-spacing: 2px;
                padding: 0.4vh 0.6vh;

                background: #759BB3;
                border: solid #efefef 1px;
                border-radius: 10px 0 0 0;
                line-height: normal;


                .text {
                    color: #efefef;
                    // font-size: 0.8vw;
                    font-size: 1.4vh;
                }
            }
        }
    }

    .menu {
        position: relative;
        width: 100%;
        z-index: 1;
        overflow: auto;
        background: #efefef;
        border-radius: 15px 0px 15px 0px;
        margin-top: 3vh;

        .navigation {
            position: relative;
            z-index: 2;

            .option {
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 2px;
                font-size: 1em;
                margin: 0.5rem 0rem 0.5rem 0px;
                display: flex;
                justify-content: center;
                font-weight: 100;

                & a {
                    color: #A5A6FF;
                    width: 80%;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-sidebar {
        position: relative;

        .social-media-list {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 2vh;
            width: auto;
            margin-inline: auto;
            margin-top: 2em;

            .social-media-item,
            .social-media-item .overlay {
                height: 4vh;
                width: 4vh;
                border-radius: 10px 0px 10px 0px;
                transition: all .2s ease-in-out;
            }

            .social-media-item {
                position: relative;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &.gmail svg,
                &.github svg,
                &.linkedin svg {
                    fill: #efefef;
                }
            }
        }

        .separator {
            background: #EFEFEF;
            height: 1px;
            width: 80%;
            background: white;
            margin-inline: auto;
            margin-block: 1em;
        }

        .copyright {
            width: 60%;
            padding: 1em;
            margin-inline: auto;

            p {
                color: #efefef;
                font-size: 0.8em;
            }
        }
    }
}

/* =========== start events hover =============== */
@mixin sidebar-events-hover {
    .sidebar {
        .footer-sidebar .social-media-list .social-media-item {     
                &:hover {
                    background-color: #efefef;

                    .overlay {
                        box-shadow: 0 0 0 1px #efefef;
                        transform: scale(1.12);
                        transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
                    }
                }

                &.gmail {
                    &:hover {
                        .gmail-part1 {
                            fill: #4285F4
                        }

                        .gmail-part2 {
                            fill: #34A853
                        }

                        .gmail-part3 {
                            fill: #EA4335
                        }

                        .gmail-part4 {
                            fill: #FBBC04
                        }

                        .gmail-part5 {
                            fill: #C5221F
                        }
                    }
                }

                &.github {
                    &:hover {
                        svg {
                            fill: #000000;
                        }
                    }
                }

                &.linkedin {
                    &:hover {
                        svg {
                            fill: #0068c2;
                        }
                    }
                }
            
        }
    }
}
/* =========== end events hover =============== */


// Styles for small screens (mobile)
@media only screen and (max-width: 767px) {
    @include responsive-sidebar;
}

// Styles for tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    @include responsive-sidebar;
}

// Styles for medium-sized screens
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    @include full-sidebar;
    @include sidebar-events-hover;

    .sidebar .menu .navigation {
        .option {
            font-size: 0.8em;
        }
    }

    .sidebar .menu .navigation {
        .option {
            font-size: 0.8em;
        }
    }
}

// Styles for large screens
@media only screen and (min-width: 1367px) {
    @include full-sidebar;
    @include sidebar-events-hover;
}