@import './timeline-studies.scss';
@import './timeline-works.scss';

:root {
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

#resume {
	box-sizing: border-box;
	position: relative;

	.wrapper-description {
		position: relative;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-inline: auto;
		margin-bottom: 2em;

		.description-text {
			font-size: 1.5rem;
			width: 80%;
			color: gray;
			text-align: center;

			.main-text {
				color: rgb(27, 90, 119);
			}

			.secondary-text {
				color: #3c3c3c;
				font-weight: 500;
			}
		}

		.more-text {
			font-size: 1rem;
			width: 70%;
			margin-top: 3em;
			color: #3c3c3c;
			text-align: center;
		}
	}
}

@mixin mobile-section-timeline {
	#resume {	
		.wrapper-description {

			width: 100%;
			align-items: start;
			margin: 0;
	
			.description-text {
				width: 100%;
				text-align: end;
			}
	
			.more-text {
				margin-top: 2em;
				text-align: start;
				width: 80%;
			}
		}
	}
}

@mixin medium-section-timeline {
	#resume {	
		.wrapper-description {
			width: 100%;
			.description-text {
				width: 90%;
			}
		}
	}
}

// Styles for small screens (mobile)
@media only screen and (max-width: 767px) {
    @include mobile-section-timeline;
}

// Styles for tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

// Styles for medium-sized screens
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	@include medium-section-timeline;
}

// Styles for large screens (min-width: 1367px) 
@media only screen and (min-width: 1367px) {
}