<section id="home">

    <div class="section-title">
      <div class="animate-headline wrapper-section-title">
        <span class="number">01</span>
        <span class="text">Inicio</span>
      </div>
    </div>

    <div class="content">
      <div class="wrapper-content-body">
        <h1 class="animate-headline job-profile"> Soy <span class="main-text">Mario Juez</span>, Ingeniero de Software y Desarrollador</h1>
        <p class="paragraph-description">Disfruto transformar desafíos complejos en soluciones de software simples, al mismo tiempo busco transmitir mi esencia y
           identidad en cada proyecto de manera creativa y efectiva.</p>
      </div>
    </div>

      <div class="facts animate-headline">
        <div class="left">
          <span class="number">6+</span>
          <p class="description">Años de experiencia</p>
        </div>
        <div class="right">
          <span class="number">15+</span>
          <p class="description">Proyectos completados</p>
        </div>

        <div class="rotating-btn floating-animation">
          <a class="btn-link slide-down">
    
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 120 120" xml:space="preserve" class="animate-rotation">
              <defs>
                <path id="textPath" d="M110,59.5c0,27.6-22.4,50-50,50s-50-22.4-50-50s22.4-50,50-50S110,31.9,110,59.5z">
                </path>
              </defs>
    
              <g>
                <use xlink:href="#textPath" fill="none"></use>
                <text>
                  <textPath xlink:href="#textPath" startOffset="-2.0">*</textPath>
                  <textPath xlink:href="#textPath" startOffset="5%"> Desliza para más</textPath>
                  <textPath xlink:href="#textPath" startOffset="49%">*</textPath>
                  <textPath xlink:href="#textPath" startOffset="55%"> Desliza para más</textPath>
                </text>
              </g>
            </svg>
            <span class="material-icons">
              arrow_downward
            </span>
          </a>
        </div>
      </div>
</section>