#skills {
  position: relative;
  height: auto;

  .main-container-services {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-left: 5em;
    margin-top: 3em;

    .wrapper-title-hard-skills {
      position: relative;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;

      .title-hard-skills {
        font-size: 0.8rem;
        color: rgb(27, 90, 119);
      }

      .subtitle-hard-skills {
        font-size: 1.5rem;
      }
    }

    .container-services {
      width: 100%;

      .wrap-services {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .card-link {
          position: relative;
          transition: all .3s ease;
          flex: 1;
        }

        .card-service {
          height: 30vh;
          border-radius: 50px 0;
          // width: 50%;
          overflow: hidden;
          display: flex;
          gap: 1em;
          flex-direction: column;
          position: relative;
          padding: 30px 20px;
          background-color: rgb(239, 239, 239);
          // border: 1px solid rgb(27, 90, 119);

          .card-content {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .item-descripton {
              z-index: 2;
              position: relative;
              transition: color .5s ease;
              // color: #FFF;
            }

            .icon-service {
              position: relative;
              // right: 2rem;
              color: #130F49;

              font-size: 30px;
              z-index: 9;
            }


          }

          .card-title {
            // overflow: hidden;
            font-size: 1.2rem;
            z-index: 2;
            font-weight: 500;
            width: 80%;
            color: #130F49;
            flex: 2;
          }

          .card-bg {
            position: absolute;
            height: 10vh;
            width: 10vh;
            top: -5vh;
            right: -4vh;
            z-index: 1;
            border-radius: 50%;
            background-color: rgb(27, 90, 119);
            transition: all .5s ease;
          }

        }
      }
    }
  }

  .wrapper-description-technologies {
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-inline: auto;

    .description-technologies-text {
      font-size: 1.5rem;
      color: #3c3c3c;
      margin-inline: auto;

      .main-text {
        color: rgb(27, 90, 119);
      }
    }
  }

  .animated-carousel-container {

    position: relative;
    width: 100%;

    .carousel-wrapper {
      position: relative;
      width: 100%;
      text-align: left;
      margin-top: 2em;
      margin-bottom: 2em;

      .main-title {
        position: relative;
        font-size: 0.8rem;
        margin-bottom: 1em;
        margin-left: 1em;
        color: #3c3c3c;
      }

      .carousel {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.4em;

        .direction-reverse {
          animation-direction: reverse !important
        }

        .loop-slider {
          display: flex;
          flex-direction: row;
          overflow: hidden;

          .inner-text {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            animation: marquee-left var(--duration) linear infinite;

            .tag {
              padding: .75rem .5rem;
              color: rgb(37, 87, 121);
              background: #cdd7de;
              border-radius: 10px;
              margin-left: 10px;
            }

          }

          .inner-img {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            animation: marquee-left var(--duration) linear infinite;

            .tag {
              color: rgb(37, 87, 121);
              background: #cdd7de;
              border-radius: 10px;
              margin-left: 10px;

              .container-img {
                margin: 20px;
                display: flex;
                align-items: center;

                .title {
                  font-size: 0.8rem;
                  margin-left: 1em;
                }
              }

              img {
                filter: invert(26%) sepia(98%) saturate(416%) hue-rotate(154deg) brightness(90%) contrast(88%);
              }
            }
          }
        }
      }
    }
  }

  .soft-skills-container {
    display: flex;
    width: 100%;
    gap: 1em;
    margin-bottom: 5em;
    margin-top: 3em;

    .container-text {
      width: 30%;
      display: flex;
      flex-direction: column;

      .card {
        background: #efefef;
        padding: 30px 20px;
        border-radius: 50px 0;

        .card-content {
          .card-title {
            font-size: 1.5em;
            font-weight: 500;

            .main-text {
              color: rgb(27, 90, 119);
            }

          }

          .card-description {
            position: relative;
            margin-top: 2vh;
            color: #3c3c3c;
          }
        }
      }
    }

    .container-graphic {
      width: 100%;
      padding: 2em;
      overflow: auto;

      .graphic {
        position: relative;
        width: 34vh;
        height: 34vh;
        margin-left: 14em;
        margin-top: 5em;


        .main-title {
          position: absolute;
          font-size: 0.8rem;
          color: #3c3c3c;
          transform: translate(-50%, -50%);
          top: -10%;
          left: 50%;
        }

        .circle {
          position: absolute;
          inset: 0 0 0 0;
          border: solid 1px;
          border-radius: 50%;
          border-color: #A5A6FF;
          border-style: dashed;
        }

        .main-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgb(239, 239, 239);
          border-radius: 50%;

          span {
            margin: 25px;
            font-size: 5rem;
          }
        }

        .wrap {
          position: absolute;
          transform: translate(-50%, -50%);

          .wrap-icon {
            width: 50px;
            height: 50px;
            background-color: rgb(239, 239, 239);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .description {
            position: absolute;

            .title {
              color: rgb(27, 90, 119);
              text-transform: uppercase;
              font-size: 0.9rem;
              font-weight: 500;
              font-family: "Lora", sans-serif;
              position: relative;
            }

            p {
              position: relative;
              margin-top: 1rem;
              font-size: 0.7rem;
            }
          }
        }

        .wrap-1,
        .wrap-2,
        .wrap-3 {
          .description {
            width: 200px;
            right: 60px;
          }
        }

        .wrap-4,
        .wrap-5,
        .wrap-6 {
          .description {
            width: 200px;
            left: 70px;
          }
        }

        .wrap-1 {
          top: 15%;
          left: 15%;
        }

        .wrap-2 {
          top: 50%;
          left: 0;
        }

        .wrap-3 {
          top: 85%;
          left: 15%;
        }

        .wrap-4 {
          top: 15%;
          left: 85%;
        }

        .wrap-5 {
          top: 50%;
          left: 100%;
        }

        .wrap-6 {
          top: 85%;
          left: 85%;
        }
      }
    }
  }
}
/* ===== END full design content main ===== */


@mixin mobile-section-skills {

  #skills {
    .main-container-services {
      width: 100%;
      margin: 0;

      .wrapper-title-hard-skills {
        .subtitle-hard-skills {
          font-size: 1em;
        }

        .title-hard-skills {
          font-size: 0.7em;
        }
      }

      .container-services {
        .wrap-services {
          flex-direction: column;

          .card-service {

            max-height: 17vh;
            border-radius: 40px 0;

            .card-title {
              font-size: 1em;
            }

            .card-content {
              flex-direction: row !important;

              .item-descripton {
                width: 100%;
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }

    .wrapper-description-technologies {
      width: 100% !important;
      margin: 0 !important;

      .description-technologies-text {
        text-align: center;
      }
    }

    .animated-carousel-container {
      .carousel-wrapper {
        .main-title {
          font-size: 0.7em;
          margin-left: 3em;
        }

        .carousel {
          padding: 0.2em;

          .loop-slider {
            .inner-text {
              .tag {
                font-size: 0.8em;
              }
            }

            .inner-img {
              .tag {
                .container-img {
                  .title {
                    font-size: 0.8em;
                  }
                }

                img {
                  width: 3vh;
                }
              }
            }
          }
        }
      }
    }

    .soft-skills-container {
      width: 100%;
      flex-direction: column;
      padding-inline: 2em;
      align-items: center;
      gap: 0;
  
      .container-text {
        width: 100%;

        .card {
          background: none;
          padding: 1em;
          border-radius: 0%;
          .card-content {
            .card-title {
              font-size: 8vw;
              font-weight: normal;
              color: #3c3c3c
            }
  
            .card-description {
              font-size: 1rem;
            }
          }
        }
      }

  
      .container-graphic {

        .graphic {
          margin-top: 2em;

          .main-title {
            left: -25%;
          }
          .wrap {
            .description {
              position: absolute;
            }
          }
        }
      }
    }
  }
}

@mixin medium-section-skills {

  #skills {
    .main-container-services {
      width: 100%;
      margin: 0;

      .wrapper-title-hard-skills {
        .subtitle-hard-skills {
          font-size: 1em;
        }

        .title-hard-skills {
          font-size: 0.8em;
        }
      }

      .container-services {
        
        width: 90%;
        margin: auto;

        .wrap-services {

          .card-service {
            width: 100%;
            border-radius: 40px 0;
            height: 40vh;

            .card-title {
              font-size: 1.2em;
            }

            .card-bg {
              height: 12vh;
              width: 12vh;
              top: -6vh;
              right: -5vh
            }

            .card-content {
              // flex-direction: row !important;

              .item-descripton {
                width: 100%;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }

    .wrapper-description-technologies {
      width: 80%;
    }


    .animated-carousel-container {
      .carousel-wrapper {
        margin-top: 4em;
        margin-bottom: 8em;
        .main-title {
          font-size: 0.7em;
          margin-left: 3em;
        }

        .carousel {
          padding: 0.2em;

          .loop-slider {
            .inner-text {
              .tag {
                font-size: 0.8em;
              }
            }

            .inner-img {
              .tag {
                .container-img {
                  .title {
                    font-size: 0.8em;
                  }
                }

                img {
                  width: 5vh;
                }
              }
            }
          }
        }
      }
    }

    .soft-skills-container {
      position: relative;
      margin-top: 0;
      flex-direction: column;
      align-items: center;
      gap: 5em;
  
      .container-text {
        width: 80%; 

        .card {
          padding: 2em;
          border-radius: 40px 0;
          .card-content {
            display: flex;
            align-items: center;
            gap: 1em;
            .card-title {
              font-size: 1.2em;
            }
  
            .card-description {
              font-size: 1em;
               margin-top: 0;
            }
          }
        }
      }

      .container-graphic {
        // margin: auto;
        position: relative;

        .graphic {
          height: 45vh;
          width: 45vh;

          margin-top: 2em;
          margin-left: 0;
          margin-inline: auto;

          .main-title {
            width: 100%;
            text-align: center;
            // top: -20%;
          }

          // .wrap {
          //   .description {
          //     position: absolute;
          //   }
          // }
        }
      }
    }
  }
}

/* =========== start events =============== */
@mixin section-skills-events {

  #skills {

    .animated-carousel-container>.carousel-wrapper>.carousel .loop-slider {
      &:hover {

        >.inner-text,
        >.inner-img {
          animation-play-state: paused;
        }
      }

      >.inner-text .tag,
      >.inner-img .tag {
        cursor: pointer;

        &:hover {
          background: #f0f0f0;
        }
      }
    }

    .container-services .card-link {
      &:hover {
        transform: translateY(-5px);

        .card-title,
        .icon-service,
        .item-descripton {
          color: rgb(239, 239, 239) !important;
        }
      }
    }

    .card-service {
      &:hover {
        .card-bg {
          transform: scale(14);
        }
      }
    }
  }
}

/* =========== end events =============== */

// Styles for small screens (mobile)
@media only screen and (max-width: 767px) {
  @include mobile-section-skills;
}

// Styles for tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  @include mobile-section-skills;
}

// Styles for medium-sized screens
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  @include section-skills-events;
  @include medium-section-skills;
}

// Styles for large screens (min-width: 1367px) 
@media only screen and (min-width: 1367px) {
  @include section-skills-events;
}